h1{
    color: crimson;
    margin-left: 175px;
}

input[type=date]
{
    position: center;
    padding-left: 10px;
}

.date{
position: center;
margin-left: 450px;
margin-top: 50px;
padding-bottom: 50px;
}

.clear{
    margin-left: 450px;
    margin-top: 50px;
}

table{
background-color: white;
border-collapse: collapse;
}

table td th {
    border-style: solid;
    border-width: 1px;
    
}
th + th 
{ border-left: 1px solid; }

tr + tr 
{ border-top: 1px solid; }

body{
    background-color: #feffed;
}
.dashboard{
    color: crimson;
    background-color: #feffed;
    margin-left: 555px;
}

