@import url(https://fonts.googleapis.com/css?family=Raleway);

h1 {
    background-color: #FEFFED;
    /* padding: 30px 35px;
    margin: -10px -50px;
    text-align: center; */
    margin-top: 50px;

}

h1,
h5 {
    color: crimson;
    text-shadow: black;

}

h5 {
    margin-top: 50px;
}

div.Logo {
    background-image: url(https://live.staticflickr.com/65535/52487750451_68bc48b2cf.jpg);
    /* width: 1000px;
    margin-bottom: -500px; */
    /* height: 1000px; */
    opacity: 30%;
    background-color: #ffdd7f;

    height: inherit;
    /* opacity: 100%; */
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 50px;
}

div.reg {
    position: absolute;
    width: 1000px;
    margin-left: 150p;
    margin-top: 50px;
    height: inherit;
    /* opacity: 30%;  */
    background-color: transparent;
}

form {
    /* margin-left: 250px;
    width: max-content;*/
    margin-top: 275px;
    margin-left: 425px;
}

img {
    width: 1000px;
    height: inherit;
    position: top;
    background-color: transparent;
    /* margin-left: 50px; */
}

.passwordHelpBlock {
    margin-top: 0px;
    margin-bottom: 50px;
}

label {
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    text-align: right;
}

ul {
    border: none;
    width: 500px;
    margin: 0px auto;

}